openapi: 3.2.0
info:
  title: Adobe Lightroom Lightroom Services Catalog API
  description: Core partner API for accessing Adobe Lightroom cloud catalog data, albums, and assets. Partner applications authenticate Lightroom customers through Adobe Identity Management System (IMS) using a standard OAuth 2.0 workflow. Provides RESTful access to a customer's cloud-synced Lightroom catalog including photos, albums, and metadata.
  version: '2'
  contact:
    name: Adobe Lightroom Developer Support
    url: https://community.adobe.com/t5/lightroom/ct-p/ct-lightroom
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://lr.adobe.io/v2
  description: Lightroom Services Production Server
security:
- oauth2:
  - lr_partner_apis
- apiKey: []
tags:
- name: Catalog
  description: Operations on the customer's Lightroom catalog
paths:
  /catalog:
    get:
      operationId: getCatalog
      summary: Adobe Lightroom Get the Customer's Catalog
      description: Retrieves the catalog metadata for the authenticated Lightroom customer. Each customer has a single catalog that contains all their assets and albums. The catalog_id returned is used as a path parameter in most other API calls.
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/XApiKey'
      responses:
        '200':
          description: Catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogResponse'
              examples:
                Getcatalog200Example:
                  summary: Default getCatalog 200 response
                  x-microcks-default: true
                  value:
                    base: example_value
                    id: abc123
                    type: example_value
                    created: '2026-01-15T10:30:00Z'
                    updated: '2026-01-15T10:30:00Z'
                    payload:
                      name: Example Title
                      userCreated: '2026-01-15T10:30:00Z'
                      userUpdated: '2026-01-15T10:30:00Z'
                    links: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /catalogs/{catalog_id}:
    get:
      operationId: getCatalogById
      summary: Adobe Lightroom Get Catalog by Id
      description: Retrieves catalog metadata for a specific catalog by its identifier.
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/CatalogId'
      - $ref: '#/components/parameters/XApiKey'
      responses:
        '200':
          description: Catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogResponse'
              examples:
                Getcatalogbyid200Example:
                  summary: Default getCatalogById 200 response
                  x-microcks-default: true
                  value:
                    base: example_value
                    id: abc123
                    type: example_value
                    created: '2026-01-15T10:30:00Z'
                    updated: '2026-01-15T10:30:00Z'
                    payload:
                      name: Example Title
                      userCreated: '2026-01-15T10:30:00Z'
                      userUpdated: '2026-01-15T10:30:00Z'
                    links: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CatalogResponse:
      type: object
      properties:
        base:
          type: string
          description: Base URL for the API
          example: example_value
        id:
          type: string
          description: Unique identifier of the catalog
          example: abc123
        type:
          type: string
          description: Resource type
          const: catalog
          example: example_value
        created:
          type: string
          format: date-time
          description: Catalog creation timestamp
          example: '2026-01-15T10:30:00Z'
        updated:
          type: string
          format: date-time
          description: Catalog last updated timestamp
          example: '2026-01-15T10:30:00Z'
        payload:
          type: object
          description: Catalog payload data
          properties:
            name:
              type: string
              description: Name of the catalog
            userCreated:
              type: string
              format: date-time
              description: When the user created the catalog
            userUpdated:
              type: string
              format: date-time
              description: When the user last updated the catalog
          example: example_value
        links:
          $ref: '#/components/schemas/Links'
    Links:
      type: object
      description: HATEOAS links for resource navigation
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: URL for the linked resource
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 10
        description:
          type: string
          description: Error description
          example: A sample description.
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              field:
                type: string
          example: []
  parameters:
    CatalogId:
      name: catalog_id
      in: path
      required: true
      description: Unique identifier of the Lightroom catalog
      schema:
        type: string
    XApiKey:
      name: X-Api-Key
      in: header
      required: true
      description: API key from the Adobe Developer Console
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions. The user has not granted access or the partner application is not entitled.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow via Adobe Identity Management System (IMS). Partner applications must be registered in the Adobe Developer Console.
      flows:
        authorizationCode:
          authorizationUrl: https://ims-na1.adobelogin.com/ims/authorize/v2
          tokenUrl: https://ims-na1.adobelogin.com/ims/token/v3
          scopes:
            lr_partner_apis: Access Lightroom partner APIs
            openid: OpenID Connect
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
      description: API key from the Adobe Developer Console project (client_id of the integration)
externalDocs:
  description: Lightroom Services API Documentation
  url: https://developer.adobe.com/lightroom/lightroom-api-docs/api/
