openapi: 3.2.0
info:
  title: Adobe Lightroom Lightroom Services Renditions API
  description: Core partner API for accessing Adobe Lightroom cloud catalog data, albums, and assets. Partner applications authenticate Lightroom customers through Adobe Identity Management System (IMS) using a standard OAuth 2.0 workflow. Provides RESTful access to a customer's cloud-synced Lightroom catalog including photos, albums, and metadata.
  version: '2'
  contact:
    name: Adobe Lightroom Developer Support
    url: https://community.adobe.com/t5/lightroom/ct-p/ct-lightroom
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://lr.adobe.io/v2
  description: Lightroom Services Production Server
security:
- oauth2:
  - lr_partner_apis
- apiKey: []
tags:
- name: Renditions
  description: Operations on asset renditions (thumbnails and previews)
paths:
  /catalogs/{catalog_id}/assets/{asset_id}/renditions/{rendition_type}:
    get:
      operationId: getAssetRendition
      summary: Adobe Lightroom Get an Asset Rendition
      description: Retrieves a generated rendition (preview image) for the specified asset. The rendition_type parameter specifies the size and format. Renditions are generated server-side from the master file.
      tags:
      - Renditions
      parameters:
      - $ref: '#/components/parameters/CatalogId'
      - $ref: '#/components/parameters/AssetId'
      - $ref: '#/components/parameters/RenditionType'
      - $ref: '#/components/parameters/XApiKey'
      responses:
        '200':
          description: Rendition retrieved successfully
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
              examples:
                Getassetrendition200Example:
                  summary: Default getAssetRendition 200 response
                  x-microcks-default: true
                  value: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    CatalogId:
      name: catalog_id
      in: path
      required: true
      description: Unique identifier of the Lightroom catalog
      schema:
        type: string
    AssetId:
      name: asset_id
      in: path
      required: true
      description: Unique identifier of the asset
      schema:
        type: string
    XApiKey:
      name: X-Api-Key
      in: header
      required: true
      description: API key from the Adobe Developer Console
      schema:
        type: string
    RenditionType:
      name: rendition_type
      in: path
      required: true
      description: Type of rendition to retrieve. Specifies the size of the generated preview image.
      schema:
        type: string
        enum:
        - thumbnail2x
        - 640
        - 1024
        - 2048
        - fullsize
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 10
        description:
          type: string
          description: Error description
          example: A sample description.
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              field:
                type: string
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow via Adobe Identity Management System (IMS). Partner applications must be registered in the Adobe Developer Console.
      flows:
        authorizationCode:
          authorizationUrl: https://ims-na1.adobelogin.com/ims/authorize/v2
          tokenUrl: https://ims-na1.adobelogin.com/ims/token/v3
          scopes:
            lr_partner_apis: Access Lightroom partner APIs
            openid: OpenID Connect
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
      description: API key from the Adobe Developer Console project (client_id of the integration)
externalDocs:
  description: Lightroom Services API Documentation
  url: https://developer.adobe.com/lightroom/lightroom-api-docs/api/
