openapi: 3.1.0
info:
  title: Adobe Lightroom Lightroom Albums Album Assets API
  description: API for creating and managing albums and collections within an Adobe Lightroom cloud catalog. Albums organize assets into user-defined collections. Supports listing, creating, updating, and deleting albums as well as managing the assets within each album.
  version: '2'
  contact:
    name: Adobe Lightroom Developer Support
    url: https://community.adobe.com/t5/lightroom/ct-p/ct-lightroom
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://lr.adobe.io/v2
  description: Lightroom Services Production Server
security:
- oauth2:
  - lr_partner_apis
- apiKey: []
tags:
- name: Album Assets
  description: Manage assets within albums
paths:
  /catalogs/{catalog_id}/albums/{album_id}/assets:
    get:
      operationId: listAlbumAssets
      summary: Adobe Lightroom List Assets in an Album
      description: Retrieves a paginated list of assets belonging to the specified album. Returns the same asset structure as the catalog assets endpoint.
      tags:
      - Album Assets
      parameters:
      - $ref: '#/components/parameters/CatalogId'
      - $ref: '#/components/parameters/AlbumId'
      - $ref: '#/components/parameters/XApiKey'
      - name: limit
        in: query
        description: Maximum number of results
        schema:
          type: integer
          default: 100
        example: 10
      - name: offset
        in: query
        description: Pagination offset
        schema:
          type: integer
          default: 0
        example: 10
      responses:
        '200':
          description: Album assets retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsListResponse'
              examples:
                Listalbumassets200Example:
                  summary: Default listAlbumAssets 200 response
                  x-microcks-default: true
                  value:
                    base: example_value
                    resources:
                    - id: abc123
                      type: example_value
                      subtype: example_value
                      created: '2026-01-15T10:30:00Z'
                      updated: '2026-01-15T10:30:00Z'
                      payload: example_value
                    links: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: addAssetsToAlbum
      summary: Adobe Lightroom Add Assets to an Album
      description: Adds one or more existing catalog assets to the specified album. Assets must already exist in the catalog. Each asset reference includes an optional sort order.
      tags:
      - Album Assets
      parameters:
      - $ref: '#/components/parameters/CatalogId'
      - $ref: '#/components/parameters/AlbumId'
      - $ref: '#/components/parameters/XApiKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlbumAssetsRequest'
            examples:
              AddassetstoalbumRequestExample:
                summary: Default addAssetsToAlbum request
                x-microcks-default: true
                value:
                  resources:
                  - id: abc123
                    payload:
                      order: example_value
      responses:
        '200':
          description: Assets added to album
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /catalogs/{catalog_id}/albums/{album_id}/assets/{asset_id}:
    delete:
      operationId: removeAssetFromAlbum
      summary: Adobe Lightroom Remove an Asset From an Album
      description: Removes a specific asset from the album. The asset itself is not deleted from the catalog.
      tags:
      - Album Assets
      parameters:
      - $ref: '#/components/parameters/CatalogId'
      - $ref: '#/components/parameters/AlbumId'
      - name: asset_id
        in: path
        required: true
        description: Asset ID to remove from the album
        schema:
          type: string
        example: '500123'
      - $ref: '#/components/parameters/XApiKey'
      responses:
        '204':
          description: Asset removed from album
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AlbumId:
      name: album_id
      in: path
      required: true
      description: Unique identifier of the album (UUID format)
      schema:
        type: string
        format: uuid
    CatalogId:
      name: catalog_id
      in: path
      required: true
      description: Unique identifier of the Lightroom catalog
      schema:
        type: string
    XApiKey:
      name: X-Api-Key
      in: header
      required: true
      description: API key from Adobe Developer Console
      schema:
        type: string
  responses:
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    AssetsListResponse:
      type: object
      properties:
        base:
          type: string
          example: example_value
        resources:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                const: asset
              subtype:
                type: string
              created:
                type: string
                format: date-time
              updated:
                type: string
                format: date-time
              payload:
                type: object
              links:
                $ref: '#/components/schemas/Links'
          example: []
        links:
          $ref: '#/components/schemas/Links'
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 10
        description:
          type: string
          example: A sample description.
    AlbumAssetsRequest:
      type: object
      required:
      - resources
      properties:
        resources:
          type: array
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: string
                description: Asset ID to add
              payload:
                type: object
                properties:
                  order:
                    type: string
                    description: Sort order within the album
          example: []
    Links:
      type: object
      additionalProperties:
        type: object
        properties:
          href:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://ims-na1.adobelogin.com/ims/authorize/v2
          tokenUrl: https://ims-na1.adobelogin.com/ims/token/v3
          scopes:
            lr_partner_apis: Access Lightroom partner APIs
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
externalDocs:
  description: Lightroom Albums API Documentation
  url: https://developer.adobe.com/lightroom/lightroom-api-docs/api/
