openapi: 3.2.0
info:
  title: Lightroom Health API
  version: '2'
  contact:
    name: Adobe Lightroom Developer Support
    url: https://community.adobe.com/t5/lightroom/ct-p/ct-lightroom
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: lightroom-catalog-openapi.yml, lightroom-services-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://lr.adobe.io/v2
  description: Lightroom Services Production Server
security:
- oauth2:
  - lr_partner_apis
- apiKey: []
tags:
- name: Health
  description: API health and availability checks
paths:
  /health:
    get:
      operationId: getHealthCheck
      summary: Adobe Lightroom Check Api Health
      description: Returns the current health status of the Lightroom Services API. This endpoint does not require authentication and is intended for monitoring and uptime verification.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Health status
                    examples:
                    - available
              examples:
                Gethealthcheck200Example:
                  summary: Default getHealthCheck 200 response
                  x-microcks-default: true
                  value:
                    status: example_value
        '503':
          description: API is unavailable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://lr.adobe.io/v2
      description: Lightroom Services Production Server
components:
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          description: Health status of the API
          examples:
          - available
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://ims-na1.adobelogin.com/ims/authorize/v2
          tokenUrl: https://ims-na1.adobelogin.com/ims/token/v3
          scopes:
            lr_partner_apis: Access Lightroom partner APIs
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
x-refined-from:
- lightroom-catalog-openapi.yml
- lightroom-services-openapi.yml
