openapi: 3.1.0
info:
  title: Adobe Lightroom Lightroom Catalog API
  description: >-
    API for accessing catalog information and health status for Adobe Lightroom
    cloud services. Each Lightroom customer has a single catalog that serves as
    the top-level container for all their assets, albums, and metadata. The
    catalog ID is required for most other Lightroom API operations.
  version: '2'
  contact:
    name: Adobe Lightroom Developer Support
    url: https://community.adobe.com/t5/lightroom/ct-p/ct-lightroom
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
externalDocs:
  description: Lightroom Catalog API Documentation
  url: https://developer.adobe.com/lightroom/lightroom-api-docs/api/
servers:
- url: https://lr.adobe.io/v2
  description: Lightroom Services Production Server
tags:
- name: Catalog
  description: Catalog metadata and configuration
- name: Health
  description: API health and availability checks
security:
- oauth2:
  - lr_partner_apis
- apiKey: []
paths:
  /health:
    get:
      operationId: getHealthCheck
      summary: Adobe Lightroom Check Api Health
      description: >-
        Returns the current health status of the Lightroom Services API.
        This endpoint does not require authentication and is intended for
        monitoring and uptime verification.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Health status
                    examples:
                    - available
              examples:
                Gethealthcheck200Example:
                  summary: Default getHealthCheck 200 response
                  x-microcks-default: true
                  value:
                    status: example_value
        '503':
          description: API is unavailable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /catalog:
    get:
      operationId: getCatalog
      summary: Adobe Lightroom Get the Authenticated User's Catalog
      description: >-
        Retrieves the catalog for the currently authenticated Lightroom
        customer. Each customer has exactly one catalog. The catalog ID
        returned in the response is required as a path parameter for asset,
        album, and other catalog-scoped API calls.
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/XApiKey'
      responses:
        '200':
          description: Catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogResponse'
              examples:
                Getcatalog200Example:
                  summary: Default getCatalog 200 response
                  x-microcks-default: true
                  value:
                    base: example_value
                    id: abc123
                    type: example_value
                    created: '2026-01-15T10:30:00Z'
                    updated: '2026-01-15T10:30:00Z'
                    payload:
                      name: Example Title
                      userCreated: '2026-01-15T10:30:00Z'
                      userUpdated: '2026-01-15T10:30:00Z'
                    links:
                      self:
                        href: example_value
                      assets:
                        href: example_value
                      albums:
                        href: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /catalogs/{catalog_id}:
    get:
      operationId: getCatalogById
      summary: Adobe Lightroom Get a Catalog by Id
      description: >-
        Retrieves catalog metadata for the specified catalog. Returns the
        catalog name, creation timestamp, and links to child resources
        such as assets and albums.
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/CatalogId'
      - $ref: '#/components/parameters/XApiKey'
      responses:
        '200':
          description: Catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogResponse'
              examples:
                Getcatalogbyid200Example:
                  summary: Default getCatalogById 200 response
                  x-microcks-default: true
                  value:
                    base: example_value
                    id: abc123
                    type: example_value
                    created: '2026-01-15T10:30:00Z'
                    updated: '2026-01-15T10:30:00Z'
                    payload:
                      name: Example Title
                      userCreated: '2026-01-15T10:30:00Z'
                      userUpdated: '2026-01-15T10:30:00Z'
                    links:
                      self:
                        href: example_value
                      assets:
                        href: example_value
                      albums:
                        href: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://ims-na1.adobelogin.com/ims/authorize/v2
          tokenUrl: https://ims-na1.adobelogin.com/ims/token/v3
          scopes:
            lr_partner_apis: Access Lightroom partner APIs
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
  parameters:
    XApiKey:
      name: X-Api-Key
      in: header
      required: true
      description: API key from Adobe Developer Console
      schema:
        type: string
    CatalogId:
      name: catalog_id
      in: path
      required: true
      description: Unique identifier of the Lightroom catalog
      schema:
        type: string
  schemas:
    CatalogResponse:
      type: object
      properties:
        base:
          type: string
          description: Base URL for the API
          example: example_value
        id:
          type: string
          description: Unique catalog identifier
          example: abc123
        type:
          type: string
          description: Resource type
          const: catalog
          example: example_value
        created:
          type: string
          format: date-time
          description: Server-side creation timestamp
          example: '2026-01-15T10:30:00Z'
        updated:
          type: string
          format: date-time
          description: Server-side last updated timestamp
          example: '2026-01-15T10:30:00Z'
        payload:
          type: object
          description: Catalog metadata
          properties:
            name:
              type: string
              description: Name of the catalog
            userCreated:
              type: string
              format: date-time
              description: User-side creation timestamp
            userUpdated:
              type: string
              format: date-time
              description: User-side last updated timestamp
          example: example_value
        links:
          type: object
          description: HATEOAS links to related resources
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
            assets:
              type: object
              properties:
                href:
                  type: string
            albums:
              type: object
              properties:
                href:
                  type: string
          additionalProperties:
            type: object
            properties:
              href:
                type: string
          example: example_value
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 10
        description:
          type: string
          example: A sample description.
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
